* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}

.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.btn-item {
  margin-left: 15px;
}

.container > .menu > .section-center > div {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  width: 50%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

img {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.title-price > h4 {
  margin: 0;
  color: #e00a00;
}

.text-container > p {
  padding-top: 10px;
  margin: 0;
}

.btn-container > button {
  background-color: inherit;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-container > button:hover {
  background-color: black;
  color: white;
}
